@font-face {
    font-family: "poppins";
    src: url("Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppinsbold";
    src: url("Poppins-Bold.ttf");
}

* {
box-sizing: border-box;
}

body {
margin: 0;
background-color: #b7e6ff;
width: 100%;
height: 100%;
}

img.headerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin:0;
    max-width: 100%;
    min-height: 200px;
}
img.footerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin:0;
    max-width: 100%;
    min-height: 200px;
}
/* Style the header */
.header {
background-color: #f1f1f1;
padding: 20px;
text-align: center;
}

/* Style the top navigation bar */
.topnav {
overflow: visible;
background-color: #333;
}

/* Style the topnav links */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Create three unequal columns that floats next
to each other */
.column {
float: right;
padding: 10px;
}
.fotosamp {
float: left;
padding: 10px;
width: 70px;
height: 50px;
}

img.fotsam{
    width: 400px;
    height: 200px;
    align-items: normal;
}

/* Left and right column */
.column.side {
width: 65%;
}

.headerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    width: fit-content;
}

.topnav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    overflow: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:  #83bdff;  
    width: 100%;
    display: flex;               
    justify-content: center;
    flex-wrap: wrap;   
    border-bottom: 4px solid #83bdff; 
    border-top: 4px solid #83bdff;
}

li:last-child {
    border-right: none;
}
li {
    float: left;
    border-right: 4px solid #4870ff;
    position: relative;
}
li a {
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
    font-family: "poppinsbold";
}

li a:hover {
    background-color: #83bdff;
}

li.dropdown{
    display:inline-block;
    position: relative;
}

 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #83bdff;
    overflow: visible;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

        .dropdown-content a {
            color: rgb(253, 255, 239);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            border-bottom: 1px solid #4870ff;
        }

        .dropdown-content a:hover {
            background-color: rgb(47, 162, 224);
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

.curt {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 10px rgb(173, 183, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items:normal;
}
.card {
    background-color: rgb(89, 144, 255);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 10px rgb(173, 183, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items:normal;
    font-family: "poppins";
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgb(173, 183, 255);
    align-items: normal;
    font-family: "poppins";
    text-align: center;
}

h2{
    font-family:"poppinsbold";
    text-align: center;
}

p.hello{
    font-family: "poppins";
}